@page
@model BadWolfTechnology.Areas.Identity.Pages.Account.SuccessRegistrationModel
@{
    ViewData["Title"] = "Подтвердите почту";
}

<h1>Подтвердите почту</h1>
<p>
    На почту отправлено письмо с ссылкой для подтверждения регистрации.<br />
    Если вы не можете найти письмо, проверьте, пожалуйста, папку спам.
</p>