/* General Style */
body {
    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-position: top center;
}

#contentBlock {
    width: 1000px;
    background-color: #2F2D2F;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.pagination {
    text-align: center;
}

.pagination button {
    padding: 5px 14px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-image: initial;
    border: 1px solid #CCC;
}

.column {
    width: 70%;
    padding: 10px 20px 20px 20px;
    max-width: 600px;
}

.column1 {
    width: 0%;
}

.boxTable {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 20px 0px 0px;
    background: url() repeat-y;
}

.boxTitle {
    height: 20px;
    color: #fff;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 15px;
    padding: 5px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    ;
    background: #161616;
    border-bottom: 2px solid #515151;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 0px;
}

.boxContent {
    background: #1a1a1a;
    padding: 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
}

.newstitle {
    background: #161616;
    height: 33px;
    border-bottom: 2px solid #515151;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.newstitle1 {
    background: #161616;
    height: 55px;
    border-bottom: 2px solid #515151;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.newsbottom {
    background: #161616;
    height: 17px;
    border-top: 1px dashed orange;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    text-align: left;
    font-size: 13px;
    color: #888;
}

.Blocktime {
    padding: 5px;
    font-size: 15px;
    font-family: verdana, arial, helvetica;
    color: #ffc500;
    text-align: right;
}

.header {
    background: rgba(0, 0, 0, 1);
    top: 32px;

}

.BlockContent {
    padding: 20px;
    background-color: #3b3b3b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.3)
}

.tfcwikimenu {
    background-color: #3b3b3b;
    height: 75px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.AchBlock {
    background-color: #262627;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 90px;
    border: 1px solid #454545
}

.bottom {
    background: #212021;
    margin-top: 6px;
    margin-bottom: 6px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.Border {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.Border2 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 7px solid #161616;
}

.BoxNews {
    background: #1b1b1b;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.BoxComment {
    background: #1b1b1b;
    border-radius: 5px;
}

.comment {
    margin: 15px 0 0 0;
}

.reply {
    margin: 0 0 0 20px;
}

.comment-text-form {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    margin: 10px 0 ;
}

.comment-text {
    background: #161616;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    color: #ccc;
    line-height: 17px;
    font-size: 11px;
}

.comment-text-content {
    margin: 15px 0;
    white-space: pre-line;
}

.comment-text-title {
    border-bottom: 1px #454545 dashed;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

.comment-text-more {
    padding: 3px 0 0 0;
    font-size: 12px;
    color: #999;
    border-top: 1px #454545 dashed;
    display: flex;
    justify-content: space-between;
}

.reply-comment {
    user-select: none;
}

.addPost.reply-comment:hover,
.reply-comment:hover {
    text-decoration: underline;
    color: #ffc500;
    cursor: pointer;
}


textarea:disabled {
    color: #ccc;
}

.create-form,
.reply-form {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.Title {
    background: #161616;
    height: 20px;
    border-bottom: 2px solid #ffc500;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #ccc;
    font-family: Verdana, Arial, Sans-Serif
}

.Zagolovok {
    background: #161616;
    height: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #ccc;
    font-family: Verdana, Arial, Sans-Serif
}

.ql-editor {
    white-space: normal !important;
}

.url {
    text-align: justify;
    padding: 12px 15px;
}

.ql-code-block-container {
    color: #ccc !important;
}

.text-overflow-content {
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    max-height: 21 em;
}

.text-content {
    word-break: break-word;
    text-align: left;
    line-height: 1.3em;
}

.wrapper {
    max-width: 600px;
    max-height: 350px;
}

.exmp {
    object-fit: scale-down;
    width: auto;
    height: auto;
}

.wrapper.exmp.edit {
    max-width: 558px;
}

.newsUrl {
    display: block;
    text-align: center;
}

.delete {
    width:  33px;  
    height: 33px; 
    margin: 0;
    padding:0;
    border: 0;
    cursor: pointer; 
    cursor: hand; 
    }

/*texts*/


.form-label {
    color: #fff;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
}

p {
    color: #999;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
}

.text {
    color: #999;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px
}

.text-danger {
    color: #f58614;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
}

.text img {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.text1 {
    color: #888888;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 19px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    line-height: 15px;
}

.text3 {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 15px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    line-height: 15px;
}

.quote {
    background: #fff;
    color: #000;
    border-left: 2px solid #969696;
    margin: 5px;
    margin-left: 15px;
}

/*end*/

td,
body {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 8pt;
    color: #cccccc;
}

form {
    padding: 0px;
    margin: 0px;
}

hr {
    color: #515151;
    background-color: #515151;
    height: 2px;
    border-style: none;
}

/*form*/

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
}

.form .text-danger {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
}

.text-danger.validation-summary-errors {
    background-color: maroon;
    margin: 0px;
    margin-bottom: 10px;
    border: 10px;
    border-radius: 3px;
    color: #ccc;
    text-align: left;
}

.text-danger.validation-summary-errors li {
    list-style: none;
}

    .g-recaptcha {
        display: flex;
        margin: 10px;
        justify-content: center;
    }

.auth-error {
    background: maroon;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    left: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    display: none;
}


/*files text*/
.LightBlock {
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px
}

.DarkBlock a {
    color: #ffc500
}

.DarkBlock {
    padding: 5px;
    background-color: #313131;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    border: 1px solid #454545;
    color: #ccc;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px
}

.MenuBlock {
    padding: 5px;
    background: #1a1a1a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px
}

.TextBlock {
    padding: 10px;
    background: #1a1a1a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    color: #ccc;
}

.Monitor {
    background: #1a1a1a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    color: #ccc;
}

.QBlock {
    padding: 5px;
    background-color: #1a1a1a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    color: #ccc;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    -moz-border-radius: 5px;
}

.BoxBlock {
    padding: 10px;
    background: #1a1a1a;
    -moz-border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    color: #ccc;
}

/*end*/

a:link {
    color: #cccccc;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    text-decoration: none;
}

a:visited {
    color: #cccccc;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    text-decoration: none;
}

a:active {
    color: #ffc500;
}

a:hover {
    color: #ffc500;
    text-decoration: underline;
}

/*Логин*/
.LoginBox {
    background: #262121;
    height: 20px;
    width: 1000px;
}

/*конец*/
.soc_buttons {
    height: 62px;
    width: 210px;
    display: inline-block;
}

.soc_buttons .sbutton {
    float: left;
    margin: 0 2px;
}

/*КнопкаТекст*/
.buttonText {
    font: 18px/1.5 Helvetica, Arial, sans-serif;
    color: #fff;
}

#bCom {
    background: #212021;
    height: 30px;
    width: 100%;
    margin: 5px 0 0 5px;
    overflow: hidden;
    display: block;
    text-align: center;
    border: 2px solid #1a1a1a;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #888888;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 16px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    line-height: 15px;
}

#bCom:hover {
    background: #454545;
    color: #ccc;
}

/*END*/


/*---Кнопкии---*/
.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-image: initial;
}

.btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}

.btn:focus {
    outline: 1px dotted #666;
    text-decoration: none;
}

button:disabled,
button[disabled] {
    color: #ccc;
}

    button:disabled:focus,
    button[disabled]:focus {
        text-decoration: none;
    }

.addPost {
    display: flex;
    flex-direction: row-reverse;
    color: #ccc;
}

.addPost:hover {
    text-decoration: none;
}
/*---buttons---*/


/*---Стиль формы---*/

.form-floating {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
}

.form-control,
.text-input {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 210px;
    height: 20px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: gray;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
}

.form-floating label {
    order: -1;
    padding: 10px 0px;
}

.form-floating span {
    padding: 10px 0px;
}

.form-floating.input-group {
    grid-template-columns: repeat(3, 1fr);
}

.form-floating.input-group input {
    grid-column-start: 1;
}

.input-group-append span {
    font-weight: bold;
    color: greenyellow;
    font-size: 15px;
    margin: 10px;
}

.text-input:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.text-input.edit {
    width: -webkit-fill-available;
}

input[type="checkbox"] {
    accent-color: #f58614;
}

/*---Стиль формы---*/


/*---Дополнительные стили---*/
.reserlog,
.resetlog li {
    margin: 0;
}

/*---Дополнительные стили---*/


.blockosn {
    width: 281px;
    line-height: 130%;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    box-shadow: 0px 0px 6px #000000;
    color: #d9d9d9
}


.main-lastcomm-bg::-webkit-scrollbar {
    width: 11px;
}



.main-lastcomm-bg::-webkit-scrollbar-thumb {
    background: #a5a6a7;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #515151;
}

h1,
.h1 {
    font-size: 22px;
}

h2,
.h2 {
    font-size: 18px;
}

h3,
.h3 {
    font-size: 16px;
}

h4,
.h4 {
    font-size: 14px;
}

h5,
.h5 {
    font-size: 13px;
}

h6,
.h6 {
    font-size: 11px;
}

.header {
    background: #000000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    color: white;
}

.text,
.text-rounded {
    position: relative;
}

input[type='text'],
input[type='password'] {
    position: relative;
}

/*---Выпадающее меню---*/
.dropbtn {
    display: none;
}

.droplab {
    background-color: #161616;
    color: white;
    padding: 0 5px;
    font-size: 20px;
    border-radius: 4px;
    user-select: none;
}

.dropdown {
    position: relative;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 25px 0;
    border-radius: 4px;
}

.dropdown-content a,
.dropdown-content input,
.dropdown-content div {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    border: 0px;
    width: -webkit-fill-available;
    text-align: left;
}

.dropdown-content a:hover,
.dropdown-content input:hover
.dropdown-content div:hover {
    background-color: #ddd;
}

.dropbtn:checked~.dropdown-content {
    display: block;
}

/*---Редактор контента---*/

.form-group {
    flex-wrap: wrap
}

.form-group select,
.form-group button {
    margin: 0 2px;
}

.form-group .mb-2 {
    margin-bottom: 10px;
}

.form-group .item {
    background-color: #2F2D2F;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid;
}

.item-select {
    height: 27px;
    min-width: 150px;
    border-radius: 5px;
}

.form-input {
    width: -webkit-fill-available;
}

.form-group .item .sub-item {
    background-color: #212021;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

/*---кнопка убрать изображение на странице редактирования---*/
.image-container {
    position: relative;
    display: inline-block;
}

    .image-container img {
        display: block;
    }

.top-right-clear {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
}
/*---fancyapps---*/

.f-carousel.is-horizontal {
    --f-button-width: 48px;
    --f-button-height: 48px;
    --f-button-svg-width: 20px;
    --f-button-svg-height: 20px;
    --f-button-svg-stroke-width: 2.5;
    --f-button-next-pos: -10px;
    --f-button-prev-pos: -10px;
}

.f-carousel.is-horizontal {
    --f-button-width: 38px;
    --f-button-height: 38px;
    --f-button-svg-width: 16px;
    --f-button-svg-height: 16px;
    --f-button-svg-stroke-width: 2.5;
    --f-button-color: rgb(71 85 105);
    --f-button-border: 0;
    --f-button-border-radius: 50%;
    --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
    --f-button-bg: #fff;
    --f-button-hover-bg: #f9f9f9;
    --f-button-active-bg: #f0f0f0;
}

.f-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    margin: 0;
    padding: 0;
    width: var(--f-button-width);
    height: var(--f-button-height);
    border: var(--f-button-border);
    border-radius: var(50%);
    color: var(--f-button-color);
    background: var(--f-button-bg);
    box-shadow: var(--f-button-shadow);
    pointer-events: all;
    cursor: pointer;
    transition: var(--f-button-transition);
}

/*---Выпадающее меню---*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: maroon;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    font-size: 17px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.6s;
        animation: fadein 0.5s, fadeout 0.5s 2.6s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}