<table border="0" width="1000" height="80" align="center" style="background: #212021;border-radius:5px;
font-family:Verdana,Arial,Sans-Serif;font-size:13px; color: #ccc; margin-top: 5px; margin-bottom:5px;">
    <tbody>
        <tr>
            <td align="left" style="padding:15px;">
                <font color="#919191">
                    &copy; 2014-@DateTime.Now.Year <!--Название компании-->, Все права защищены.<br />
                    Cайт разработал в учебных целях Кузнецов Ю.С.<br />
                    Фронтенд собран в 2014г, бэкенд разработан на ASP.NET Core в 2024г.<br />
                    По различным вопросам обращаться по адресу: <a href="mailto:<!--Почта поддержки-->"><!--Почта поддержки--></a>
                </font>
            </td>
            <td align="right" style="padding:15px;">
                <a asp-area="" asp-controller="Home" asp-action="Cookie">Согласие на cookies</a><br />
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Обработка персональных данных</a>
            </td>
        </tr>
    </tbody>
</table>