
<div class="container">
    <header class="header">
        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-CodePage="" title="@OrganizationInfo.Name">
            <div class="header__left">
                <img src="~/image/header_left.png" class="header__image" width="350" height="161">
            </div>
            <div class="header__right">
                <h1 class="header__title"> </h1>
            </div>
        </a>
    </header>
</div>
<center>
    <div class="b-topmenu">
        <div class="headmenu">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-CodePage="">Главная</a></li>
            <li><a asp-area="" asp-controller="News" asp-action="Index">Новости</a></li>
            <li><a asp-area="" asp-controller="Products" asp-action="Index">Проекты</a></li>
        </div>
    </div>
</center>