<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>@ViewData["Title"] - @OrganizationInfo.Name</title>
    <partial name="_CSSPartial" />
    <partial name="_ScriptsPartial" />
</head>
<body>
    <!--Header-->
    <partial name="_HeaderPartial" />
    <!--Header-->
    <br>
    <br>
    <br>
    <table cellpadding="0" cellspacing="0" border="0" id="contentBlock" align="center">
        <tbody>
            <tr>
                <td valign="top" class="column">
                    <div style="padding-bottom: 7px"></div>
                    <!--Контент-->
                    @RenderBody()
                    <!--Контент-->
                </td>
                <td valign="top">
                    <div style="padding:10px;" />
                    <!--Профиль-->
                    <partial name="_LoginPartial" />
                    <!--Профиль-->
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <!--Footer-->
    <partial name="_СookiesPartial" />
    <partial name="_FooterPartial" />
    <!--Footer-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>