@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (!Context.Request.Cookies.ContainsKey("CookiesAllow"))
{
    <script>
        $(document).on("click", ".cookie_button", function () {
            $(".cookie_wrap").fadeOut("slow");
            setCookie("CookiesAllow", 1);
        });

        $(document).on("click", ".cookie_close", function () {
            $(".cookie_wrap").fadeOut("slow");
        });

        function setCookie(name, value, days) {
            var d = new Date();
            d.setTime(d.getTime() + 60 * 60 * 24 * 365);
            var expires = "expires=" + d.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }
    </script>

    <div class="cookie_wrap">
        <p class="cookie_text">
            Этот веб-сайт использует файлы cookie, чтобы вы могли максимально эффективно его использовать. <a href="">О согласии</a>.
        </p>
        <div class="cookie_group_button">
            <div class="cookie_button">Принимаю</div>
            <div class="cookie_close">+</div>
        </div>
    </div>
}